
.page__footer {
  position: relative;
  border-top: solid 1px $color-font-form2;
  padding:  30px 74px 45px 74px;
  background-color: var(--white);
}
@media (min-width: 768px) {
  .page__footer {
    padding:  30px 45px 56px 45px;
  }
}
@media (min-width: 1280px) {
  .page__footer {
    padding:  30px 138px 51px 138px;
  }
}

.footer-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .footer-2 {
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.groupName {
  font-family: $font-2;
  font-size: 1.4rem;
  line-height: 2rem;
  color: $color-font-form2;
  text-align: center;
  margin-bottom: 20px;

}
@media (min-width: 768px) {
  .groupName {
    text-align: left;
    display: inline;
  
  }
}

.adalabLogo {
  width: 115.9px;
  height: 45px;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .adalabLogo{
    margin: 15px 0px 4px 0px;
  }
}

.secondaryMenu {
  font-family: $font-2;
  color: $color-font-form;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  opacity: 0.75;
}

  @media (min-width: 768px) {
    .secondaryMenu {
      align-items: flex-end;
      margin-top: -23px;
      
    }
  }




  @media (min-width: 768px) {
    .secondaryMenu {
      line-height: 3rem;
    }
  }


  a {
    text-decoration: none;
    color: var(--gunmetal);
  }
