
.header {
  width: 320px;
  height: 421px;
  border: red solid 3px;

}
.header1 {
background-color: $color-bg1;
color: $color-font1;
font-family: $font-1;

}
/*medidas móvil header1*/

.header1 {
width: 320px;
height: 60px;
padding-left: 80px;
padding-right: 80px;
padding-bottom: 15px;
padding-top: 15px;
}

.header2 {
  background-color: $color-bg2;
  color: $color-font1;
  font-family: $font-1;
}

/*medidas móvil header2*/
.header2 {
width: 320px;
height: 45px;
padding-left: 16px;
padding-right: 17px;
padding-bottom: 15px;
padding-top: 15px;
}

.menu {
  display: flex;
  justify-content: space-between;
  
}

.menu__link {
  color: $color-font1;
  text-decoration: none;
  font-size: 15px;  
}

.header3 {
  background-image: url(/images/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

/*medidas móvil header3*/
.header3 {
  width: 320px;
  height: 316px;
  
  /*display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;*/
}

.header__title {
  background-color: $color-bg3;
  width: 290px;
  height: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  left: 15px;
  top: 387px;
 
}
// .header2 {
//   display: flex;
//   flex-wrap: wrap;
//   align-content: flex-end;
// }

// .headerh2{
//   padding: 15px 30px;
//   margin-left: 140px;
// }


/*.menu {    
list-style: none;

line-height: 2;
font-weight: 500;
}

 /*
display: flex;flex-wrap: wrap;
justify-content: space-between;
align-items: center;
// /*medidas header*/


// .headerh1 {
//   font-size: 16px;
//   line-height: 30px;
//   font-family: 'Rubik', sans-serif;
//   
// }



