:root {
  font-size: 62.5%;
}
.header {
  height: 421px;
  width: 100vw;
  margin-bottom: 65px;
  background-image: url(/images/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header1 {
background-color: $color-bg1;
display: flex;
justify-content: center;
align-items: center;

/*medidas móvil header1*/
height: 60px;
}

.header1__title {
  font-family: $font-1;
  color: $color-font1;
  font-size: 1.6rem;
}

.header2 {
  /*móvil header2*/
  background-color: $color-bg2;
  color: $color-font1;
  font-family: $font-1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
}


/*header tablet*/
@media (min-width: 768px) {
  .header2 {
    display: none;
  }
}
/*header desktop*/
@media (min-width: 1280px) {
  .header2 {
    display: none;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
/*medidas movil 375*/
@media (min-width: 375px) {
  .menu {
    gap: 29px;
  }
}
/*medidas movil 425*/
@media (min-width: 425px) {
  .menu {
    gap: 41px;
  }
}

.menu__link {
  color: $color-font1;
  text-decoration: none;
  font-size: 15px;  
}

.phrase {
  background-color: $color-bg3;
  width: 290px;
  height: 80px;
  font-family: 'Open Sans', sans-serif;
  
  font-weight: 600;
  line-height: 1.39;
  position: absolute;
  top: 387px;
  text-align: center;
  /*medidas movil 320*/
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px;
}
/*medidas movil 375*/
  @media (min-width: 375px) {
  .phrase {
  
  margin-left: 42px;
  margin-right: 42px;
   
  }
}
/*medidas movil 425*/
@media (min-width: 425px) {
  .phrase {
  margin-left: 67.5px;
  margin-right: 67.5px; 
  }
}
/*header__title tablet*/
@media (min-width: 768px) {
  .phrase {
    width: 441px;
    height: 80px;
    top: 343px;
    margin-left: 46px;
    opacity: 0.8;
  }
}
/*header__title desktop*/
@media (min-width: 1024px) and (max-width: 2000px) {
  .phrase {
    width: 574px;
    height: 90px;
    top: 331px;
    opacity: 0.8;
    margin-left: 138px;
    font-size: 24px;
  }
}
