.about-us {
    text-align: center;
    margin: 4.5rem 0;

    .about-title {
        text-transform: uppercase;
        color: $color-bg1;
        font: 500 2.4rem $font-1;
    }

    .adalaber {
        margin-top: 3rem;

        .photo {
            border: 0.5rem solid lightgray;
            border-radius: 5%;
            height: 18rem;
            width: 18rem;
        }

        .info {
            margin: 0 2rem;

            .name {
                font: 400 2rem $font-2;
                margin: 1.5rem 0;
            }

            .bio {
                font: 200 1.6rem $font-2;
                color: $color-font-form;
                line-height: 24px;
            }

            .contact {
                margin: 3rem 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 1rem;
                font-size: 2rem;

                .contact-icon {
                    color: $color-bg1;
                    height: 2rem;
                    width: 2rem;
                    cursor: pointer;
                }

                @keyframes pulse {

                    0%,
                    100% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.5);
                    }
                }

                .contact-icon:hover {
                    animation: pulse 3s infinite;
                }

                .point {
                    font-size: 3rem;
                    color: $color-font-form;
                    position: relative;
                    top: -0.7rem;
                }
            }
        }
    }
}


@media all and (min-width: 768px) {

    .adalaber {
        display: flex;
        width: 100vw;
        padding: 0 4.5rem;

        .photo {
            height: 20.5rem;
            width: 20.5rem;
        }

        .info {
            display: flex;
            flex-direction: column;
        }
    }

    .adalaber1,
    .adalaber3 {
        flex-direction: row;

        .info {
            align-items: flex-start;

            .bio {
                text-align: left;
            }
        }
    }

    .adalaber2,
    .adalaber4 {
        flex-direction: row-reverse;

        .info {
            align-items: flex-end;

            .bio {
                text-align: right;
            }
        }
    }
}

@media all and (min-width: 1200px) {

    .adalaber {
        .photo {
            height: 28rem;
            width: 280rem;
        }

        .info {
            .bio {
                width: 40vw;
            }
        }
    }

    .adalaber1,
    .adalaber3 {
        padding-left: 14rem;
    }

    .adalaber2,
    .adalaber4 {
        padding-right: 14rem;
    }
}