.about-us {
    text-align: center;
    margin: 30px 0;

    .about-title {
        text-transform: uppercase;
        color: $color-bg1;
        font-family: $font-1;
        font-size: 24px;
        font-weight: 500;
    }

    .adalaber {
        margin-top: 30px;

        .photo {
            border: 5px solid lightgray;
            border-radius: 5%;
        }

        .info {
            margin: 0 15px;

            .name {
                font-family: $font-2;
                font-size: 20px;
                font-weight: 400;
                margin: 15px 0;
            }

            .bio {
                font-family: $font-2;
                font-size: 16px;
                font-weight: 200;
                color: $color-font-form;
            }

            .contact {
                margin: 30px 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
                font-size: 20px;

                .contact-icon {
                    color: $color-bg1;
                    height: 20px;
                    width: 20px;
                    cursor: pointer;
                }

                @keyframes pulse {

                    0%,
                    100% {
                        transform: scale(1);
                    }

                    50% {
                        transform: scale(1.5);
                    }
                }

                .contact-icon:hover {
                    animation: pulse 3s infinite;
                }

                .point {
                    font-size: 30px;
                    color: $color-font-form;
                    position: relative;
                    top: -7px;
                }
            }
        }
    }
}


@media all and (min-width: 768px) {

    .adalaber {
        display: flex;
        width: 100vw;
        padding: 0 45px;

        .photo {
            height: 205px;
            width: 205px;
        }

        .info {
            display: flex;
            flex-direction: column;
        }
    }

    .adalaber1,
    .adalaber3 {
        flex-direction: row;

        .info {
            align-items: flex-start;

            .bio {
                text-align: left;
            }
        }
    }

    .adalaber2,
    .adalaber4 {
        flex-direction: row-reverse;

        .info {
            align-items: flex-end;

            .bio {
                text-align: right;
            }
        }
    }
}

@media all and (min-width: 1200px) {

    .adalaber {
        .photo {
            height: 280px;
            width: 280px;
        }

        .info {
            .bio {
                width: 40vw;
            }
        }
    }

    .adalaber1,
    .adalaber3 {
        padding-left: 140px;
    }

    .adalaber2,
    .adalaber4 {
        padding-right: 140px;
    }
}