.about-title {
    text-transform: uppercase;
    color: $color-bg1;
    font-family: $font-1;
    font-size: 24px;
    font-weight: 500;
}

.about-us {
    text-align: center;
    margin: 30px 0 30px 0;
}

.adalaber {
    margin-top: 30px;
}

.contact {
    margin: 15px 0 15px 0;
    display: inline-block;
}

.contact-icon {
    color: $color-bg1;
    padding: 10px;
}

.name {
    font-family: $font-2;
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0 15px 0;
}

.info {
    margin: 0 15px 0 15px;

}

.bio {
    font-family: $font-2;
}

@media (min-width: 768px) {

    .adalaber {
        display: flex;
        width: 100vw;
        padding: 30px 45px 30px 45px;
    }

    .adalaber1,
    .adalaber3 {
        flex-direction: row;

        .info {
            align-items: flex-start;
        }

        .bio {
            text-align: left;
        }
    }

    .adalaber2,
    .adalaber4 {
        flex-direction: row-reverse;

        .info {
            align-items: flex-end;
        }

        .bio {
            text-align: right;
        }

    }

    .info {
        display: flex;
        flex-direction: column;
    }




}