<footer>
    <div class="footerPart1">
        <p class="nombreDelGrupo">Promo A - Módulo 1 - Equipo 1 &copy; 2018</p>
        <img src="/public/images/logo-adalab.png" alt="Logo Adalab" />
    </div>
    <div class="footerPart2">
        <nav class="secondaryMenu">
            <ul>
                <li><a href="">Equipo</a></li>
                <li><a href="">Quiénes Somos</a></li>
                <li><a href="/src/contact.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</footer>