<footer class="page__footer">
    <div class="footerPart1">
        <p class="groupName">ALICE - LAB &copy; 2023</p>
        <img class="adalabLogo" src="./images/logo-adalab.png" alt="Logo Adalab" />
    </div>
    <div class="footerPart2">
        <nav class="secondaryMenu">
            <ul>
                <li><a href="#team">EQUIPO</a></li>
                <li><a href="#about">QUIÉNES SOMOS</a></li>
                <li><a href="./contact.html">CONTACTO</a></li>
            </ul>
        </nav>
    </div>
</footer>