
<header>
    <section class="header">

        <div class="header1">
            <h1 class="header1__title">👩‍💻 ALICE-LAB</h1>
            <div class="header-ghost">
                <nav>
                    <ul class="menu-ghost">
                        <li><a class="ghost__link" href="#equipo">EQUIPO</a></li>
                        <li><a class="ghost__link" href="#about">QUIÉNES SOMOS</a></li>
                        <li><a class="ghost__link" href="./formulario.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </div>

        <div class="header2">
            <nav>
                <ul class="menu">
                    <li><a class="menu__link" href="#equipo">EQUIPO</a></li>
                    <li><a class="menu__link" href="#about">QUIÉNES SOMOS</a></li>
                    <li><a class="menu__link" href="./formulario.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>

        <h2 class="phrase">Let´s do code!</h2>

    </section>

</header>