    <section class="header">

        <div class="header1">
            <h1 class="header1__title">👩‍💻 ALICE-LAB</h1>
            
            <nav class="tablet-menu">

                <ul class="tablet__ul">
                    <li><a class="tablet__a" href="#team">EQUIPO</a></li>
                    <li><a class="tablet__a" href="#about">QUIÉNES SOMOS</a></li>
                    <li><a class="tablet__a" href="./contact.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>

        <div class="header2">
            
            <nav>
                <ul class="movil-menu">

                    <li><a class="movil__a" href="#team">EQUIPO</a></li>
                    <li><a class="movil__a" href="#about">QUIÉNES SOMOS</a></li>
                    <li><a class="movil__a" href="./contact.html">CONTACTO</a></li>
                </ul>
            </nav>
        </div>
       
        <div class="phrase">
            <h2 class="phrase__h2">"El arte desafía a la tecnología y la tecnología inspira al arte"</h2>
        </div>
        
    </section>