<header class="header">
    <section class="header1">
        <h1 class="headerh1">NOMBRE DEL GRUPO</h1>
        <nav>
            <ul class="menu">
                <li><a class="link equip" href="#equipo">EQUIPO</a></li>
                <li><a class="link who" href="#quienesSomos">QUIENES SOMOS</a></li>
                <li><a class="link contact" href="/src/contact.html">CONTACTO</a></li>
            </ul>
        </nav>
    </section>

    <section class="header2">
        <h2 class="headerh2">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
    </section>
</header>