<div id="about" class="about-us">
    <h1 class="about-title">Quiénes somos</h1>
    <section class="adalaber adalaber1">
        <img class="photo" src="http://placekitten.com/g/180/180" alt="Fotografía de Bessy" />
        <section class="info">
            <h3 class="name">Bessy Escobar Salgado</h3>
            <p class="bio">Experta en atención al cliente, en conversión a programadora web. En mis tiempos libre recorro el mundo para conocer nuevos rincones y aprender de cada persona que encuetro en el camino. Fan de los perros, del volley y reina del patinaje.</p>
            <span class="contact">
                <a href="https://www.linkedin.com/in/bessy-escobar-salgado-242224236/" target="_blank"><i
                        class="contact-icon fa-brands fa-linkedin-in"></i></a>
                <span class="point">.</span>
                <a href="https://github.com/BessyEscobar" target="_blank"><i
                        class="contact-icon fa-brands fa-github-alt"></i></a>
                <span class="point">.</span>
                <a href="mailto:cat@gmail.com"><i class="contact-icon fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
    </section>
    <section class="adalaber adalaber2">
        <img class="photo" src="http://placekitten.com/g/180/180" alt="Fotografía de Laura" />
        <section class="info">
            <h3 class="name">Laura Montaño Mayoral</h3>
            <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus non mollitia tenetur
                saepe.
                Reprehenderit, quas. Eveniet porro veniam nostrum delectus eligendi nisi, inventore, ullam alias
                voluptatum commodi totam aut unde.</p>
            <span class="contact">
                <a href="https://google.com" target="_blank"><i class="contact-icon fa-brands fa-linkedin-in"></i></a>
                <span class="point">.</span>
                <a href="http://placekitten.com/g/180/180" target="_blank"><i
                        class="contact-icon fa-brands fa-github-alt"></i></i></a>
                <span class="point">.</span>
                <a href="mailto:cat@gmail.com"><i class="contact-icon fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
    </section>
    <section class="adalaber adalaber3">
        <img class="photo" src="http://placekitten.com/g/180/180" alt="Fotografía de Antía" />
        <section class="info">
            <h3 class="name">Antía Navajas Garrido</h3>
            <p class="bio">Persona responsable, con grandes capacidades organizativas, proactiva y muchas ganas de aprender.</p>
            <span class="contact">
                <a href="https://www.linkedin.com/in/ant%C3%ADa-navajas-garrido-56579b213/" target="_blank"><i
                        class="contact-icon fa-brands fa-linkedin-in"></i></a>
                <span class="point">.</span>
                <a href="https://github.com/AntiaNavajasGarrido" target="_blank"><i
                        class="contact-icon fa-brands fa-github-alt"></i></a>
                <span class="point">.</span>
                <a href="mailto:cat@gmail.com"><i class="contact-icon fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
    </section>
    <section class="adalaber adalaber4">
        <img class="photo" src="http://placekitten.com/g/180/180" alt="Fotografía de Izabela de Incógnito" />
        <section class="info">
            <h3 class="name">Persona Incógnito</h3>
            <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus non mollitia
                tenetur saepe.
                Reprehenderit, quas. Eveniet porro veniam nostrum delectus eligendi nisi, inventore, ullam alias
                voluptatum commodi totam aut unde.</p>
            <span class="contact">
                <a href="http://placekitten.com/g/180/180"><i class="contact-icon fa-brands fa-linkedin-in"></i></a>
                <span class="point">.</span>
                <a href="http://placekitten.com/g/180/180"><i class="contact-icon fa-brands fa-github-alt"></i></i></a>
                <span class="point">.</span>
                <a href="mailto:cat@gmail.com"><i class="contact-icon fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
    </section>
</div>