<div class="team-box" id="team">
    <h1 class="team">EQUIPO</h1>
    <p>Somos <strong class="strong">Alice</strong>, <strong class="strong">L</strong>aura, <strong
            class="strong">A</strong>ntía y
        <strong class="strong">B</strong>essy y juntas
        formamos <strong class="strong">ALICE-LAB</strong>. Unidas por las ganas de convertirnos en programadoras y
        conquistar el
        mundo, os presentamos nuestro primer proyecto.<br>
        <br>
        Te invitamos a que conozcas mejor nuestro equipo, deja que Alice sea tu guía y descubre con ella nuestra página
        y sus maravillas.
    </p>
</div>
<div class="square"></div>
<div class="sandw-box">
    <section class="strengths">
        <h2>Fortalezas</h2>
        <p>
            Somos un grupo de chicas que no se conforman con su situación laboral actual, ¡eso es lo que nos ha llevado a todas a realizar un cambio de 180º y seguir a Alice por el maravilloso mundo de la superación!
            <br>Conmovidas por su gran pasión por la ciencia hemos decidido crear esta web como primer proyecto grupal.</br>
        </p>
    </section>
    <section class="weaknesses">
        <h2>Debilidades</h2>
        <p>Nuestra falta de experiencia no nos frena a la hora de seguir aprendiendo y abordar nuevos retos. ¡Si seguís las directrices de Alice, vosotras también podréis conseguirlo! <br>Continuad leyendo nuestra web para descubrir todos los secretos. 😉</br></p>
    </section>
</div>
</main>