<main>
    <div class="team-box">
        <h1 class="team">EQUIPO</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quaerat id ex sequi sed quod aspernatur
            culpa fuga deleniti dolore consectetur nihil enim officia similique distinctio, facilis quos at? Eos. <br>
            <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum a ipsam voluptatem aperiam doloribus eveniet rerum provident blanditiis soluta sint consectetur, recusandae, error quasi, repudiandae dolore facere ut quis quae.
        </p>
    </div>
    <div class="sandw-box">
        <section class="strengths">
            <h2>Fortalezas</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente molestiae, ipsa, iste, reiciendis aliquid qui totam amet temporibus distinctio beatae quasi. Perspiciatis nemo iste perferendis architecto commodi.
            </p>
        </section>
        <section class="weaknesses">
            <h2>Debilidades</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure expedita placeat vitae obcaecati sed
                blanditiis eligendi, quia maxime error consectetur quasi cumque repudiandae voluptatibus non a
                recusandae aliquid labore molestias!</p>
        </section>
    </div>
    <div class="about-us">
        <h1 class="about-title">Quiénes somos</h1>
        <section class="adalaber1">
            <img src="http://placekitten.com/g/180/180" alt="Fotografía de Bessy" />
            <h3 class="name">Bessy Escobar Salgado</h3>
            <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus non mollitia tenetur
                saepe.
                Reprehenderit, quas. Eveniet porro veniam nostrum delectus eligendi nisi, inventore, ullam alias
                voluptatum commodi totam aut unde.</p>
            <span class="contact">
                <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                        class="fa-brands fa-linkedin-in"></i></a>
                <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                        class="fa-brands fa-github-alt"></i></a>
                <a href="mailto:cat@gmail.com" class="contact-icon"><i class="fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
        <section class="adalaber2">
            <img src="http://placekitten.com/g/180/180" alt="Fotografía de Laura" />
            <h3 class="name">Laura Montaño Mayoral</h3>
            <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus non mollitia tenetur
                saepe.
                Reprehenderit, quas. Eveniet porro veniam nostrum delectus eligendi nisi, inventore, ullam alias
                voluptatum commodi totam aut unde.</p>
            <span class="contact">
                <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                        class="fa-brands fa-x-twitter"></i></a>
                <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                        class="fa-brands fa-linkedin-in"></i></a>
                <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                        class="fa-brands fa-github-alt"></i></i></a>
                <a href="mailto:cat@gmail.com" class="contact-icon"><i class="fa-solid fa-envelope"></i></i></a>
            </span>
            <section class="adalaber3">
                <img src="http://placekitten.com/g/180/180" alt="Fotografía de Antía" />
                <h3 class="name">Antía Navajas Garrido</h3>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus non mollitia
                    tenetur saepe.
                    Reprehenderit, quas. Eveniet porro veniam nostrum delectus eligendi nisi, inventore, ullam alias
                    voluptatum commodi totam aut unde.</p>
                <span class="contact">
                    <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                    <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                            class="fa-brands fa-github-alt"></i></a>
                    <a href="mailto:cat@gmail.com" class="contact-icon"><i class="fa-solid fa-envelope"></i></i></a>
                </span>
            </section>
            <section class="adalaber4">
                <img src="http://placekitten.com/g/180/180" alt="Fotografía de Izabela de Incógnito" />
                <h3 class="name">Persona Incógnito</h3>
                <p class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus non mollitia
                    tenetur saepe.
                    Reprehenderit, quas. Eveniet porro veniam nostrum delectus eligendi nisi, inventore, ullam alias
                    voluptatum commodi totam aut unde.</p>
                <span class="contact">
                    <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                    <a href="http://placekitten.com/g/180/180" class="contact-icon"><i
                            class="fa-brands fa-github-alt"></i></i></a>
                    <a href="mailto:cat@gmail.com" class="contact-icon"><i class="fa-solid fa-envelope"></i></i></a>
                </span>
            </section>
    </div>
</main>