<div class="team-box" id="team">
    <h1 class="team">EQUIPO</h1>
    <p>Somos <strong class="strong">Alice</strong>, <strong class="strong">L</strong>aura, <strong
            class="strong">A</strong>ntía y
        <strong class="strong">B</strong>essy y juntas
        formamos <strong class="strong">ALICE-LAB</strong>. Unidas por las ganas de convertirnos en programadoras y
        conquistar el
        mundo, os presentamos nuestro primer proyecto.<br>
        <br>
        Te invitamos a que conozcas mejor nuestro equipo, deja que Alice sea tu guía y descubre con ella nuestra página
        y sus maravillas.
    </p>
</div>
<div class="square"></div>
<div class="sandw-box">
    <section class="strengths">
        <h2>Fortalezas</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente molestiae, ipsa, iste, reiciendis
            aliquid qui totam amet temporibus distinctio beatae quasi. Perspiciatis nemo iste perferendis architecto
            commodi.
        </p>
    </section>
    <section class="weaknesses">
        <h2>Debilidades</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure expedita placeat vitae obcaecati sed
            blanditiis eligendi, quia maxime error consectetur quasi cumque repudiandae voluptatibus non a
            recusandae aliquid labore molestias!</p>
    </section>
</div>
</main>