<div id="about" class="about-us">
    <h1 class="about-title">Quiénes somos</h1>
    <section class="adalaber adalaber1">
        <img class="photo" src="./images/alice.jpg" alt="Fotografía de Alice Ball" />
        <section class="info">
            <h3 class="name">Alice Ball</h3>
            <p class="bio">Mi nombre es Alice, ¡bienvenid@s a mi lab! El mundo STEM necesita más mujeres, así que
                permíteme presentarte a tres de mis mejores alumnas, excelentes programadoras. Lo siento, no tengo redes
                sociales, pero siempre puedes contactar con nuestro estupendo profe. </p>
            <span class="contact">
                <a href="https://adalab.es/" target="_blank"><i class="contact-icon fa-brands fa-linkedin-in"></i></a>
                <span class="point">.</span>
                <a href="https://adalab.es/" target="_blank"><i
                        class="contact-icon fa-brands fa-github-alt"></i></i></a>
                <span class="point">.</span>
                <a href="mailto:hola@adalab.es"><i class="contact-icon fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
    </section>
    <section class="adalaber adalaber2">
        <img class="photo" src="./images/laura.jpg" alt="Fotografía de Laura" />
        <section class="info">
            <h3 class="name">Laura Montaño Mayoral</h3>
            <p class="bio">¡Hola! Tengo 34 años y vivo en Madrid.
                Soy Militar y Técnica de Marketing y Publi ¡Todo un contraste! Y es que, por un lado, me encanta
                superarme y sentir la satisfacción del esfuerzo y, por otro lado, me flipa que la creatividad fluya por
                mis venas. ¡Espera! Antes de que dejes de leerme, tengo que decirte que estoy muy motivada descubriendo
                este Mundo del desarrollo web asi que, seguro que nos vemos pronto.</p>
            <span class="contact">
                <a href="https://www.linkedin.com/in/laura-monta%C3%B1o-380640264/" target="_blank"><i
                        class="contact-icon fa-brands fa-linkedin-in"></i></a>
                <span class="point">.</span>
                <a href="https://github.com/laumonmay" target="_blank"><i
                        class="contact-icon fa-brands fa-github-alt"></i></i></a>
                <span class="point">.</span>
                <a href="mailto:laumonmay@hotmail.com"><i class="contact-icon fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
    </section>
    <section class="adalaber adalaber3">
        <img class="photo" src="./images/antia.jpg" alt="Fotografía de Antía" />
        <section class="info">
            <h3 class="name">Antía Navajas Garrido</h3>
            <p class="bio">Persona responsable, con grandes capacidades organizativas, proactiva y muchas ganas de
                aprender.</p>
            <span class="contact">
                <a href="https://www.linkedin.com/in/ant%C3%ADa-navajas-garrido-56579b213/" target="_blank"><i
                        class="contact-icon fa-brands fa-linkedin-in"></i></a>
                <span class="point">.</span>
                <a href="https://github.com/AntiaNavajasGarrido" target="_blank"><i
                        class="contact-icon fa-brands fa-github-alt"></i></a>
                <span class="point">.</span>
                <a href="mailto:antianavajasgarrido@gmail.com"><i class="contact-icon fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
    </section>
    <section class="adalaber adalaber4">
        <img class="photo" src="./images/bessy.png" alt="Fotografía de Bessy" />
        <section class="info">
            <h3 class="name">Bessy Escobar Salgado</h3>
            <p class="bio">Experta en atención al cliente, en conversión a programadora web. En mis tiempos libre
                recorro el mundo para conocer nuevos rincones y aprender de cada persona que encuetro en el camino. Fan
                de los perros, del volley y reina del patinaje.</p>
            <span class="contact">
                <a href="https://www.linkedin.com/in/bessy-escobar-salgado-242224236/" target="_blank"><i
                        class="contact-icon fa-brands fa-linkedin-in"></i></a>
                <span class="point">.</span>
                <a href="https://github.com/BessyEscobar" target="_blank"><i
                        class="contact-icon fa-brands fa-github-alt"></i></a>
                <span class="point">.</span>
                <a href="mailto:bessyescobar89@gmail.com"><i class="contact-icon fa-solid fa-envelope"></i></i></a>
            </span>
        </section>
    </section>
</div>