.sandw {
    background-color: #b8b8b9;
    display: inline-block;
}

.fortalezas {
    font-family: 'Rubik', sans-serif;
    color: #099d8d;
}

.debilidades {
    font-family: 'Rubik', sans-serif;
    color: #099d8d;
}